{%extends 'base.html'%}

{% block content%}
<div class="container my-5">
    <h2 class="text-center">LISTE CLIENTS</h2>
    <div class="text-center p-5">
        <a class="btn btn-warning w-50" href="{% url 'client-create' %} ">new client</a>
    </div>
    <div class="row">
        {% for client in object_list %}
        <div class="col-3 p-0 m-0">
            <div class=" text-white p-3 m-0">
                <div class="card-body bg-success ">
                    <h2 class="card-title">Client {{client.id}}</h2>
                    <em>First Name</em>
                    <h4>{{ client.first_name}}</h4>
                    <em>Last Name</em>
                    <h4>{{ client.last_name}}</h4>
                    <em>Email Name</em>
                    <p>{{ client.email}}</p>
                    <a class="btn btn-warning" href="{% url 'client-detail' client.id %}"> go to</a>
                    
                    
                    <button class="btn btn-warning" data-toggle="modal" data-target="#fm-modal-grid{{client.id}}">Delete</button>
                    <div class="modal fade" id="fm-modal-grid{{client.id}}" tabindex="-1" role="dialog"
                        aria-labelledBy="fm-modal-grid{{client.id}}" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal" aria-label="Cerrar">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12 col-sm-6">
                                                <form action="{% url 'client-delete' client.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <p>Are you sure you want to delete "{{ object }}"?</p>
                                                    <input type="submit" value="Confirm">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="modal-footer">
                                <a href="{% url 'client-delete' client.id %}" class="btn">Delete</a>
                                <button class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                            </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
    </div>
    {%endblock%}