{%extends 'base.html'%}

{% block content%}
<div class="container">
    <div class="row">
        <div class="col-6 ">
            <div class="">
                <h5>First Name</h5>
                <p>{{client.first_name}}</p>
                <h5>Last Name</h5>
                <p>{{client.last_name}}</p>

            </div>
            <h5>Telephone</h5>
            <p>{{client.tel}}</p>
            <h5>Raison Social</h5>
            <p>{{client.raison_social}}</p>
            <h5>Siret</h5>
            <p>{{client.siret}}</p>
            <h5>TVA</h5>
            <p>{{client.tva}}</p>
            <h5>Email Address</h5>
            <p>{{client.email}}</p>
        </div>
        <div class="col-6">
            <h5>Address(es)</h5>
            <ol>

                {% for adress in client.addresses.all %}
                <li>
                    <hr>
                    <p>city:{{adress.city}}</p>
                    <p>street:{{adress.street}}</p>
                    <p>zipcode:{{adress.zipcode}}</p>
                    <hr>

                </li>
                {% endfor %}

            </ol>
            <h5>
                liste devis
            </h5>
            {% for devis in client.devis_set.all %}
            <a href="{% url 'devis-detail' devis.id %}">
                <p>{{devis}}</p>
            </a>
            {% endfor %}

            <h5>
                liste factures
            </h5>
            {% for devis in client.devis_set.all %}
                {% if devis.facture %}
                <a href="{% url 'facture-detail' devis.facture.id %}"><p>{{devis.facture}}</p></a>
                                
                </a>
                {% endif %}
            {% endfor %}
                

            
            
            
            <!--  -->
            
        </div>
    </div>
    <div class="text-center">
        {% if perms.client.change_client %}
        <a class="btn btn-primary" href="{% url 'client-update' client.id %}">edit client</a>
        {% endif %}

        <!--  -->
        {% if perms.client.delete_client %}
        <button class="btn btn-primary" data-toggle="modal" data-target="#fm-modal-grid">Delete</button>
        <div class="modal fade" id="fm-modal-grid" tabindex="-1" role="dialog" aria-labelledBy="fm-modal-grid"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <form action="{% url 'client-delete' client.id %}" method="POST">
                                        {% csrf_token %}
                                        <p>Are you sure you want to delete "{{ object }}"?</p>
                                        <input type="submit" value="Confirm">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="modal-footer">
            <a href="{% url 'client-delete' client.id %}" class="btn">Delete</a>
            <button class="btn btn-primary" data-dismiss="modal">Cancelar</button>
        </div> -->
                </div>
            </div>
        </div>
        {% endif %}

    </div>
</div>


{%endblock%}