{%extends 'base.html'%}

{% block content%}
<div class="container my-5">
    <div class="row">
        <div class="col-12 ">
            <div class="bg-danger text-danger p-3">
                <div class="row">
                    
                        {% for devis in devis.lignedevis_set.all %}
                            <div class="col-6 my-3">
                                <div class=" bg-warning p-3">
    
                                    <h5>Ligne Devis ID</h5>
                                    <p>{{devis.id}}</p>
                                    <h5>Description</h5>
                                    <p>{{devis.description}}</p>
                                    <h5>Quantity</h5>
                                    <p>{{devis.quantity}}</p>
                                    <h5>Price</h5>
                                    <p>{{devis.price}}</p>
                                    <h5>Total</h5>
                                    <h1>{{devis.get_total_item_price}} €</h1>
                                
                                </div>
                                
                
                            </div>
                            {% endfor %}
                        
    
                    </div>
                
                <div class="text-center">
                    <h1 class="text-warning">All TOTAL</h1>
                    <h1 class="text-warning">{{ devis.get_total_final_price }} €</h1>
    
                    
                    
                    {% if pdf == false %}
                    <a  class="btn btn-sm btn-success" href="{% url 'devis-update' devis.id %}">edit devis</a>
                    <a href="{% url 'devis-pdf' devis.id %}" target="_blank" class="btn btn-sm btn-success">Generate Pdf</a>
                    {% if devis.facture  %}
                    <a href="{% url 'facture-detail' devis.facture.id %}" target="_blank" class="btn btn-sm btn-success">Detail Facture</a>
                    {% else %}
                    <a href="{% url 'devis-transform' devis.id %}" target="_blank" class="btn btn-sm btn-success">Generate Facture</a>
                    
                    {% endif %}
                    <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#fm-modal-grid">Delete</button>
                    <div class="modal fade" id="fm-modal-grid" tabindex="-1" role="dialog" aria-labelledBy="fm-modal-grid"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal" aria-label="Cerrar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12 col-sm-6">
                                            <form action="{% url 'devis-delete' devis.id %}" method="POST">
                                                {% csrf_token %}
                                                <p>Are you sure you want to delete "{{ object }}"?</p>
                                                <input type="submit" value="Confirm">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                {% endif %}
                </div>

            </div>

        </div>

    </div>
</div>


{%endblock%}